<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="/assets/css/styles.css">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jackpickus.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Jack A. Pickus">
<meta property="og:description" content="A portfolio website about Jack Pickus">
<meta property="og:image" content="{{ site.og_picture }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jackpickus.com">
<meta property="twitter:url" content="https://jackpickus.com">
<meta name="twitter:title" content="Jack A. Pickus">
<meta name="twitter:description" content="A portfolio website about Jack Pickus">
<meta name="twitter:image" content="{{ site.og_picture }}">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

</head>
