:root {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(28, 28, 30);
    --text-color: rgb(229, 229, 234);
    --link-color: rgb(100, 210, 255);
  }
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h3,
h4,
strong {
  color: var(--text-color);
}

.main {
  h4 {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

.posts li {
  content: none;
}

p,
li,
span {
  font-size: 1rem;
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

blockquote p {
  font-size: 1.15rem;
}

blockquote cite {
  font-size: 1rem;
}

.link {
  font-size: 1.2rem;
  margin: 3%;
}

#job {
  font-weight: bold;
}

ul li:before {
  content: "\00BB \0020";
}

#social {
  display: flex;
  padding-top: 1.5%;
  margin: 3%;
}

.icon {
  > svg {
    display: inline-block;
    width: 25px;
    margin: 10px;

    path {
      fill: var(--text-color);
    }
  }
}

@media only screen and (max-width: 600px) {
  #bio {
    display: block;
  }

  header {
    text-align: center;
  }

  #social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-bottom: 5%;
    width: auto;
  }

  p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
  p {
    font-size: 1.1rem;
  }
}
