$background: #282A36;
$comment: #6272A4;
$dracula_red: #FF5555;
$dracula_orange:#FFB86C;
$dracula_yellow: #F1FA8C;
$dracula_green: #50FA7B;
$dracula_purple: #BD93F9;
$dracula_cyan: #8BE9FD;
$dracula_pink: #FF79C6;

.highlight {
  background-color: $background;

  .n, .nf, .cp{
    color: $dracula_green;
  }
  .p, .s {
    color: $dracula_yellow;
  }
  .cm, .c1, .cs {
    color: $comment;
  }
  .ge {
    font-style: italic;
  }
  .gs {
    font-weight: bold;
  }
  .kc, .kd, .k, .nt {
    color: $dracula_pink;
  }
  .nb {
    color: $dracula_pink;
  }
  .nc, .na {
    color: $dracula_cyan;
  }
  .py {
    color: $dracula_orange;
  }
}

.lineno {
  font-size: 1.07em;
  line-height: 2.05em;
}

pre {
  line-height: 2.04em;
}